<div class="container">
  <div class="row">
    <div class="col-3">
      Subscription Plans and Pricing
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      Reporting Data Storage
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      # of Adminstrators
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h3>Billing</h3>
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h3>1 Year Price Lock (From Start Time)</h3>
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h3>Billing Data Export</h3>
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h3>Automated Monthly Invoices Broken Down By Projects</h3>
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h3>SubProjects</h3>
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h3>HIPAA BAA (*)</h3>
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h3>Free (Included) Media Storage</h3>
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h3>RTMP Out</h3>
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h3>ReSeller Tax Agreement (*)</h3>
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h3>Call Throughput (Space Level)</h3>
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>Add-Ons</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h3>Dedicated IP For BYOC (*)</h3>
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <h3>Additional Incremental CPS (SIP Or PSTN)</h3>
    </div>
    <div class="col-3">
      aa
    </div>
    <div class="col-3">
      a
    </div>
    <div class="col-3">
      aa
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3>FAQ</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>aaaaaaaaaaaaaaaaaa</p>
    </div>
  </div>
</div>
